* {
	margin: 0; 
	padding: 0;
}

body {
   overflow: hidden;
}

#clouds{
	padding: 200px 0;
    z-index: -5;
	height: 100vh;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	border-radius: 200px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 100px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

.x1 {
	animation: moveclouds 92s linear infinite;
}

.x2 {
	left: 200px;
	transform: scale(0.6);
	opacity: 0.6;
	animation: moveclouds 81s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	transform: scale(0.8);
	opacity: 0.8;
	animation: moveclouds 64s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75;
    animation: moveclouds 50s linear infinite;

}

.x5 {
	left: -150px; top: -150px;
	transform: scale(0.8);
	opacity: 0.8;
	
	animation: moveclouds 73s linear infinite;
}

@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}