body {
    background-color: #050526;
    color: white;
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
    

}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
    }

nav {
    background-color: black;
}

.jumbotron {
    width: 45%;
    margin: 15% auto;
    text-align: center;
}

.jumbo-container {
    
    flex-direction: column;
    align-items: center;
}

#img-holder {
    background-color: rgb(142, 149, 151);
    border-radius: 50%;
    margin: 20px;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

a {
    color: white !important;
}

#page2 {
    margin: 25% auto;
}

#projects-container {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    border: solid red 10px;
    height: 50vh;
    
}
.projects {
   text-align: center;
}