* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #395fb0;
    color: white;
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
    }

nav {
    background-color: rgb(48, 47, 52);
}

.jumbotron {
    width: 45%;
    margin: 10% auto;
    text-align: center;
}

.jumbo-container {
    
    flex-direction: column;
    align-items: center;
}

/* #img-holder {
    background-color: rgb(142, 149, 151);
    border-radius: 50%;
    margin: 20px;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   */
#avatarImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

a {
    color: white !important;
}

h2 {
    font-size: 2rem;
}

#page2 {
    margin: 25% auto;
}

#projects-container {
    justify-content: space-around;
    align-items: center;
    
    margin: 15% auto;
    border-radius: 10px;
}
.projects {
   text-align: center;

   
}

img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

#page3 {
    margin: 25% auto 0;
}

#page1arrow {
    margin-top: 16%;
}

#contactDiv {
    margin: 30% 0;
}

#contactDiv h3 {
    padding-bottom: 100px;
    font-size: 2rem;
}

#contactDiv a {
    font-size: 2rem;
}